In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot 
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [18]:
Data_Titanic = pd.read_csv("titanic.csv")
Data_Titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
print(Data_Titanic.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
print("The median of age column is: ", Data_Titanic["Age"].median(skipna=True))

The median of age column is:  28.0

In [6]:
print("Percent of missing records in cabin", Data_Titanic["Cabin"].isnull().sum() / Data_Titanic.shape[0]*100)

print("Most common boarding point", Data_Titanic["Embarked"].value_counts().idxmax())

Percent of missing records in cabin 77.10437710437711
Most common boarding point S

In [15]:
print(Data_Titanic["Age"].fillna(Data_Titanic["Age"].median(skipna=True), inplace=True))

print(Data_Titanic["Embarked"].fillna(Data_Titanic["Embarked"].value_counts().idxmax(),inplace=True))

print(Data_Titanic.drop("Cabin",axis=1,inplace=True))

None
None
None

In [8]:
print(Data_Titanic.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [9]:
LR_Model = LogisticRegression()

In [10]:
Data_Titanic.drop("PassengerId",axis=1,inplace=True)
Data_Titanic.drop("Name",axis=1,inplace=True)
Data_Titanic.drop("Ticket",axis=1,inplace=True)
Data_Titanic.drop("SibSp",axis=1,inplace=True)
Data_Titanic.drop("Parch",axis=1,inplace=True)

In [11]:
Data_Titanic.head()

   Survived  Pclass     Sex   Age     Fare Embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S

In [17]:
label_encoder = preprocessing.LabelEncoder()

Data_Titanic["Sex"] = label_encoder.fit_transform(Data_Titanic["Sex"])

Data_Titanic["Embarked"] = label_encoder.fit_transform(Data_Titanic["Embarked"])

In [22]:
X = Data_Titanic[["Embarked", "Sex", "Age", "Pclass", "Fare"]]
Y = Data_Titanic["Survived"]

In [23]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.2, random_state=2)

In [27]:
LR_Model.fit(xtrain, ytrain)

ValueError: could not convert string to float: 'C'

In [25]:
ypred = LR_Model.predict(xtest)

print(classification_report(ytest, ypred))

NameError: name 'lrmodel' is not defined